.error-container {
   margin: 20px auto 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 502px;
   height: 80px;
   border: 2px solid red;
   border-radius: 8px;
   
   background-color: rgba(245, 18, 18, 0.26);
   & span {
      margin: auto;
      color: rgb(248, 7, 7);
   }
   & p {
      margin: auto;
      color:black;
   }
}