$background-color-base: #ffffff;

.header-container {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   height: 80px;
   background-color: $background-color-base;
   & .header-title {
      display: inline;
      margin-right: 200px;
   }
   & h3 {
      margin: 22px;
      width: 147px;
      height: 56px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.85);
   }
   & h3:hover {
      color: #07fa1b;
   }
   & .sign-in {
      border-radius: 5px;
      padding-top: 7px;
      width: 109px;
      height: 40px;
      margin: 13px;
      margin-left: auto;
      text-align: center;
      & a {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 28px;
         color: rgba(0, 0, 0, 0.85);  
      }
   }
   
   & .sign-up {
      border-radius: 5px;
      padding-top: 7px;
      width: 109px;
      height: 40px;
      margin: 13px ;
      text-align: center;
      & a {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.85); 
      }
   }
   & .sign-up:hover,
     .sign-in:hover {
      border: 1px solid #52C41A;
      & a {
      color: #52C41A;          
      }
   }
   & .header_name-user {
      display: flex;
      & h6 {
         font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.85);
      margin: 28px 13px 30px;
      }
   }
   & .header_name-user:hover {
      border: 1px solid #52C41A;
      border-radius: 5px;
   }
   & img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin: 19px 14px 0 0;
      overflow: hidden;
   }
   & .log-out {
      margin: 15px 22px auto 14px;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      & a {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 28px;
         color: rgba(0, 0, 0, 0.75);
      }
   }
   & .log-out:hover {
      border: 2px solid #52C41A;
      & a {
         color:#52C41A;
      }
   }
   & a {
      text-decoration: none;
   }
}

@media (max-width: 325px) {
   .header-container {
      & h3 {
         display: none;
      }
      & .header-linc {
         margin-left: auto;
      }
 }
}