@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$bg-color: #e5e5e5;



.body {
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: scroll;
  max-width: 1440px;
  background-color: $bg-color;
}
